*{
    box-sizing: border-box;
}

body{
    margin: 5%;
}

header{
    display: flex;
    align-items : flex-end;
}

nav{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex: 1;
    padding-bottom: 1em;
}

nav a{
    padding: 0 1em;
}

a{
    text-decoration: none;
    color: #000;
}

.infline{
    display: inline-flex;
}

.fa, .fa-bars{
    display: none;
}

h2 img{
    height: 1em;
    margin-right: 0.5em;
}

figure{
    margin: auto;
    height: 300px;
    position: relative;
}

figure img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

figcaption{
    display: flex;
    justify-content: space-between;
    background-color: rgba(9, 119, 9, 0.5);
    position: absolute;
    color:#fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.5em;
}

figcaption a{
    padding: 0.25em;
    margin-right: 1em;
    background-color: #76b900;
    color:#fff;
    border-radius: 0.25em;
}

main{
    margin-top: 2em;
    border-bottom: #76b900 2px solid;
}

main section{
    flex :7;
    padding-right: 1em;
}

main aside{
    flex :3;
}

aside{
    background-color: #76b900;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

aside p{
    margin-top: 0;
}

aside img{
    width: 40%;
    margin : 1em 30%;
}

aside h3 {
    text-align: center;
}

#social{
    flex-direction: row;
    margin: auto;
    align-content: center;
}

i{
    font-size: 3em;
    margin: auto  0.2em;
}

#triangle{
    display: flex;
    justify-content: center;
}

#triangle img{
    width: 2em;
}

#galery img{
    width : 20%;
    margin-left: 0.25em;
    margin-right: 0.25em;
    object-fit: cover;
}

#partners img{
    width : 30%;
    margin : 0 0.5em;
    object-fit: cover;
}

footer #form{
    flex:3;
}

footer #galery{
    flex: 3;
}

footer #partners{
    flex : 2;
}
input{
    margin: 0.25em;
}

#button{
    background-color: #76b900;
    padding: 0.5em 0.75em;
    margin-left: 0;
    color: #fff;
}

@media screen and (max-width : 1400px){
    i{
        font-size: 2em;
    }
}

@media screen and (max-width : 1000px){
    main section{
        flex :3;
    }
    main aside{
        flex :2;
    }
}

@media screen and (max-width : 820px){
    main{
        flex-direction: column;
    }
    main img{
        display: none;
    }
    footer{
        flex-direction: column;
    }
    nav{
        display: none;
    }
    .fa, .fa-bars{
        display:initial;
        position: absolute;
        right : 2%;
        top :2%;
    }
    figcaption{
        flex-wrap:wrap;
    }
    #form input{
        display: flex;
        flex-direction: column;
        margin-top: auto;
    }
}